<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <!-- Test config source provider -->
   <extension point="org.eclipse.lsp4mp.jdt.core.configSourceProviders">
      <provider class="org.eclipse.lsp4mp.jdt.core.TestConfigSourceProvider" />
   </extension>

   <!-- test jax-rs provider: all public methods in CustomJaxRsResolving.java are JAX-RS endpoints -->
   <extension point="org.eclipse.lsp4mp.jdt.core.javaFeatureParticipants">
      <jaxrs class="org.eclipse.lsp4mp.jdt.core.jaxrs.TestJaxRsInfoProvider">
      </jaxrs>
   </extension>
</plugin>
